global
    log stdout format raw local0
    user haproxy
    group haproxy
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    option tcpka
    option redispatch
    retries 3
    timeout connect 5s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h
    timeout client-fin 30s
    timeout server-fin 30s

frontend cstonecloud_tls_entry
    bind 0.0.0.0:443
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    acl cstonecloud_tls req.ssl_sni -i cstonecloud.bigpandas.top
    use_backend cstonecloud_tls_vision if cstonecloud_tls
    default_backend verizon_tls_landing

frontend cstonecloud_http_entry
    bind 0.0.0.0:80
    default_backend verizon_http_landing

backend verizon_tls_landing
    server verizon 47.178.15.216:443 check inter 3s fall 3 rise 2

backend cstonecloud_tls_vision
    server local 127.0.0.1:30443 check inter 3s fall 3 rise 2

backend verizon_http_landing
    server verizon 47.178.15.216:80 check inter 3s fall 3 rise 2
