global
    log stdout format raw local0
    user haproxy
    group haproxy
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    option tcpka
    option redispatch
    retries 3
    timeout connect 5s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h
    timeout client-fin 30s
    timeout server-fin 30s

frontend aaitr_tls_entry
    bind 0.0.0.0:443
    default_backend aaitr_tls_landing

frontend aaitr_http_entry
    bind 0.0.0.0:80
    default_backend aaitr_http_landing

frontend aaitr_anytls
    bind 0.0.0.0:8443
    default_backend aaitr_anytls_landing

frontend aaitr_shadowsocks
    bind 0.0.0.0:10443
    default_backend aaitr_shadowsocks_landing

frontend aaitr_socks5
    bind 0.0.0.0:1080
    default_backend aaitr_socks5_landing

frontend aaitr_http_proxy
    bind 0.0.0.0:8080
    default_backend aaitr_http_proxy_landing

backend aaitr_tls_landing
    server aaitr 99.88.84.197:443 check inter 3s fall 3 rise 2

backend aaitr_http_landing
    server aaitr 99.88.84.197:80 check inter 3s fall 3 rise 2

backend aaitr_anytls_landing
    server aaitr 99.88.84.197:33443 check inter 3s fall 3 rise 2

backend aaitr_shadowsocks_landing
    server aaitr 99.88.84.197:34443 check inter 3s fall 3 rise 2

backend aaitr_socks5_landing
    server aaitr 99.88.84.197:31080 check inter 3s fall 3 rise 2

backend aaitr_http_proxy_landing
    server aaitr 99.88.84.197:31081 check inter 3s fall 3 rise 2
