global
    log stdout format raw local0
    user haproxy
    group haproxy
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    option tcpka
    option redispatch
    retries 3
    timeout connect 5s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h
    timeout client-fin 30s
    timeout server-fin 30s

frontend aaitr_tls_entry
    bind 0.0.0.0:443
    default_backend aaitr_tls_landing

frontend aaitr_http_entry
    bind 0.0.0.0:80
    default_backend aaitr_http_landing

backend aaitr_tls_landing
    server aaitr 47.178.15.216:443 check inter 3s fall 3 rise 2

backend aaitr_http_landing
    server aaitr 47.178.15.216:80 check inter 3s fall 3 rise 2
