APP_PORT=3000
METRICS_PORT=3001
API_INSTANCES=1

DATABASE_URL=postgresql://remnawave_hy2_lab:replace_me@hy2-db:5432/remnawave_hy2_lab
POSTGRES_USER=remnawave_hy2_lab
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=remnawave_hy2_lab

REDIS_HOST=hy2-valkey
REDIS_PORT=6379
REDIS_DB=1

APP_SECRET=replace_me
FRONT_END_DOMAIN=http://127.0.0.1:3300
PANEL_DOMAIN=http://127.0.0.1:3300
SUB_PUBLIC_DOMAIN=127.0.0.1:3300
METRICS_USER=hy2_lab
METRICS_PASS=replace_me

IS_TELEGRAM_NOTIFICATIONS_ENABLED=false
WEBHOOK_ENABLED=false
EXPORT_TO_STREAM_ENABLED=false
SERVICE_DISABLE_USER_USAGE_RECORDS=false
USER_USAGE_IGNORE_BELOW_BYTES=0
